.Style {
    text-align: center;
  }

/*CSS Vistas Activas*/
.viewActiva{
    color:rgb(213, 33, 33);
    text-decoration: none;
  }
  
  .view{
    color: rgb(247, 243, 243);
    text-decoration: none;
  }
  
  /* CSS Registro/Login */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
  }
  
 /* Imagen Barra */

 .img-cursor {
  cursor: pointer;
}
/*Boton Favoritos*/
.btnFav{
  background-color: transparent;
  border:0;
  margin-left: 12rem;

}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Waves The Game Animacion*/

.waves span{
position:absolute;
color:rgb(228, 20, 12);
font-size: 35px;
transform: translate(-25%,-25%);
}

.waves span:nth-child(1){
  color:rgb(5, 5, 5);
  -webkit-text-stroke: 0.3px, #000000;
}

.waves span:nth-child(2){
  color: rgb(241, 243, 246);
  -webkit-text-stroke: 1px,#000000;
  animation: animation 2s ease-in-out infinite;
}

@keyframes animation{
  0%,100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%,54% 60%,70% 61%, 84% 59%, 100% 52%,100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon( 0% 60%, 16% 65%, 34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%, 0% 100%

    );
  }
}

/*Animacion Card*/

.card-image {
  transition: transform 0.2s;
}

.card-image:hover {
  transform: scale(1.7) translate(10%, -5%);
}
.perfil{
  margin: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.imagenP{
  border-radius: 80%;
  border: 5px solid rgb(127, 255, 238);
  margin-right: 1em;
  width: 28%;
}