.Style {
    text-align: center;
  }

.form-control::placeholder {
    color: red;
  }
   

/*CSS Vistas Activas*/
.viewActiva{
    color:rgb(213, 33, 33);
    text-decoration: none;
  }
  
  .view{
    color: rgb(247, 243, 243);
    text-decoration: none;
  }
  
  /* CSS Registro/Login */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
  }
  
 /* Imagen Barra */

 .img-cursor {
  cursor: pointer;
}
/*Boton Favoritos*/
.btnFav{
  background-color: transparent;
  border:0;
  margin-left: 12rem;

}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area:footer;
  height: 4em;
}


/*Animacion Card*/

.card-image {
  transition: transform 0.2s;
}

.card-image:hover {
  transform: scale(1.7) translate(10%, -5%);
}
.perfil{
  margin: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.imagenP{
  border-radius: 80%;
  border: 5px solid rgb(127, 255, 238);
  margin-right: 1em;
  width: 28%;
}
.barraNav{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: rgb(23, 162, 184);
   height: 75px;
}

#Home{
  margin-top: 5em;
}
.carrusel{
  height: 350px;
}

