.Style {
    text-align: center;
  }

.viewActiva{
    color:rgb(213, 33, 33);
    text-decoration: none;
  }
  
  .view{
    color: rgb(247, 243, 243);
    text-decoration: none;
  }

.btnFav{
  background-color: transparent;
  border:0;
  margin-left: 12rem;

}

